@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
  }
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 30px 100px; */
    margin: 0px 100px 36px 100px;  
    border: 4px solid red;
    width: 1650px;
    height: 100px;
    
}


 ul li {
    list-style: none;
}
.nav-title{
 font-weight: 800;
 font-size: 28px;
}
.btn-primary{
    width: 200px;
    height: 47px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    
    
}
/* banner styles */
.banner{
    width: 800;
    height: 650;
    margin: 20px 200px 30px 200px;
}
.banner-title{
    font-weight: 800;
    font-size: 48px;
    height:136px;
    margin-top: 200px;

}
.shared-description-font{
    font-weight: normal;
    font-size: 16px;
}
.banner-photo{
   
    /* margin: 20px 200px 340px 200px;  */
    position: absolute;
    top: 160px; /* 26px from the top of the banner */
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 30px;
}
.btn-banner-contact{
    width: 244px;
    height: 65px;
    border-radius: 08px;
    padding: 21px 24px;
    color: #FFFFFF;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 550px;
}
.header{
    background-image: url('../assets/Hero-bg.png');
    margin: 131px 0px 150px 0px; 
    height: 652;
    background-position: center;
}
/* Section styles */
.wwd-container-content-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}

.wwd-container{
    width: 1170px;
    height: 1450px;
    border: 4px solid red ;
    margin-top: 50px;
    margin-right: 270px;
    margin-left: 270px;
    padding : 60px 80px 60px 80px
}
.wwd-sub-container-content{
    width:950px;
    height: 1380px;
    border: 4px solid red;
    margin-left: 110px;
    
}

.wwd-container-content-title{
    width:852px;
    height:180px;
    margin : 0px 25px;
    /* border: 4px solid black; */
    margin-bottom: 50px;
     
}
.wwd-container-content-title-header{
    width:852px;
    margin : 0px;
    text-align: center;
    height: 37px;
    /* border: 4px solid rgb(122, 43, 43); */
   
    /* border: 4px solid red; */
}
.wwd-container-content-description{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    
}
/* shared container styles */
.wwd-shared-container-styles{
   width: 950px;
   height:336px;
   margin-bottom: 35px;
   /* border: 4px solid red;  */
  }
.wwd-shared-images{
    width: 275px;
    height: 220px;


}
.wwd-shared-container-subtitle{
    font-size: 20px;
    font-weight: bold;
    color:#0D1321;
    margin-top: 0px;
    margin-bottom:10px ;
}
.wwd-shared-textarea{
    width: 480px;
    height: 250px;
    margin-right: 100px;
    /* border: 4px solid red;  */
    text-align: left;
    /* margin-top: 16px; */
}
.wwd-shared-textarea-middle{
    width: 480px;
    height: 250px;
    margin-left: 140px;
    /* border: 4px solid red;  */
    text-align: left;
    /* margin-top: 16px; */
}
.wwd-container-content-row{
    width: 850px;
    height:250px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    /* border: 4px solid black;  */
    
}
.wwd-container-content-row-middle{
    width: 850px;
    height:250px;
    margin: 40px;
    display: flex;
    justify-content:space-between;
    /* border: 4px solid black;  */
    
}
.wwd-shared-container-text{
    margin-top: 10px;
}
.wwd-shared-btn-learn{
    width: 171px;
    height: 47px;
}
.mi-container{
    width:950px;
    height: 775px;
    margin-right: 440px;
    margin-left: 520px;
    border: 4px solid black; 
}
.mi-container-title{ 
    width:850px;
    height: 113px;
    margin-right: 50px;
    margin-left: 50px;
    border: 4px solid black; 
    text-align: center;
}
.mi-container-title-header{
    width:850px;
    height: 37px;
    border: 4px solid red; 
    margin-top: 0px;
    margin-bottom: 25px;
}
.mi-container-description{
    width:850px;
    border: 4px solid red; 
    height: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.video-container{
    width:850px;
    height:500px;
    margin-right: 20px;
    margin-left: 40px;
    border-radius: 16px;
    padding: 15px 10px 15px 10px;
    border: 4px solid red; 

}